@tailwind base;
@tailwind components;
@tailwind utilities;

body { font-family: 'Courier New', monospace; overscroll-behavior: none; background-color: black; }
input[type=range] { -webkit-appearance: none; background: transparent; width: 100%; }
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none; height: 18px; width: 18px; border-radius: 50%;
  background: #00ff41; margin-top: -7px; border: 2px solid #000;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%; height: 4px; background: #333; border-radius: 2px;
}
